<style>
    div.scrollmenu {
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
    }

    div.scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    div.scrollmenu a:hover {
        background-color: #777;
    }

</style>

<!--dien title vao thanh menu -->
<div class="scrollmenu">
    <a href="/public/home.html">Home</a>
    <a href="/public/about.html">About</a>
    <a href="/public/lab1/index.html" target="_parent">Lab01</a>
    <a href="/public/lab2/lab2ex1.html" target="_parent">Lab02</a>
    <a href="/public/lab3/lab3ex1.html" target="_parent">Lab03</a>
    <a href="/public/lab4/lab4ex1.html" target="_parent">Lab04</a>
    <a href="/public/lab5/lab5ex1.html" target="_parent">Lab05</a>
    <a href="/public/lab6/lab6ex1.html" target="_parent">Lab06</a>
    <a href="/public/lab7/lab7ex1.html" target="_parent">Lab07</a>
</div>