*, body {
    margin: 0;
    padding: 0;
}

h2 {
    color: green;
    font-size: 40px;
    text-shadow: 2px 2px 4px #37be74;
    text-align: center;
}

.highlight-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;


}

.beige-italicized {
    font-style: italic;
    color: #be9a72;
    font-size: 17px;

}

.purpose-upper {
    font-weight: bold;
    color: rebeccapurple;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
}

.orange {
    color: coral;
    text-align: center;
}

.yellow {
    color: darkcyan;
    padding: 20px;
}

.padding {
    padding-left: 40px;
}

.below {
    font-family: Corbel;
}
